*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gilroy', sans-serif;
    background-color: rgb(236, 236, 236);

}

.logotext{
    width: 100%;
    height: 100px;
    padding: 2px;
    background-color: white;
    
}
#logo{
    margin-left: 20px;
    margin-top: 20px;
    height: 70px;
}

#title{
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 30px;
    font-size: 60px;
}
#conteiner{
    width: 70%;
    margin: 50px auto;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav{
    width: 100%;
    height: 60px;
    background-color: white;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:4px solid rgb(236, 236, 236);
}
.add{
    margin-top: 15px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    height: 65%;
    border-style: none;
}
#addtask{
    margin-left: 60px;
    background-color: rgba(71,173,241,255);
    color: white;
}
#addsection{
    color: #d2d6db;
}

.todo{
    padding-left: 60px;
    margin-top: 30px;
    font-size: 25px;
    color: rgba(104,107,114,255);
    font-weight: 500;
    padding-bottom: 20px;
   

}
.section{
    margin-bottom: 3px;
    font-size: 30px;
    padding-bottom: 10px;
    color: black;
    
}

    

.tag {
   
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    color: white;

}
.tag.editorial{
    background-color:rgba(69,171,234,255) ;

}
.tag.q1goals{
    background-color: rgba(156,114,228,255);
}
.tag.recruting{
    background-color: rgba(100,192,169,255);
}
.tag.mobile{
    background-color: rgba(242,158,51,255);
}
.tag.website{
    background-color: rgba(217,99,161,255);
}
.tag.sales{
    background-color: rgba(176,201,38,255);
}
.todo p{
    padding-bottom: 10px;
    padding-left: 10px;

   
}
.checkmark::before{
    content: url(img/check.jpg);
    padding-right: 10px;
}
.cross::before{
    content: url(img/cross.jpg);
    padding-right: 10px;
}
/* .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;  /* Preferred icon size 
    display: inline-block;
    line-height: 1;
    text-transform:none;
    letter-spacing: normal;
    word-wrap:normal;
    white-space: nowrap;
    direction: ltr;
    color: yellowgreen; */

  

}